.banner-area {
  height: 270px;
  margin: 50px 0 40px;
  background-image: url(/banner-sneakers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .inner {
    padding: 100px 50px 0;
  }
  .banner-title {
    display: block;
    margin-bottom: 20px;
    font-size: 52px;
    color: #000;
  }
  .banner-text {
    font-size: 18px;
    color: #000;
    line-height: 1.25;
  }
}