.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  .inner {
    display: flex;
    padding: 20px 40px;
  }
  .logo {
    margin-right: 40px;
    a {
      display: block;
    }
    img {
      height: 42px;
    }
  }
  .gnb-list {
    display: flex;
    align-items: center;
    .list-item {
      margin-left: 50px;
      a {
        font-size: 20px;
      }
    }
  }
}