.header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  .inner {
    display: flex;
    padding: 20px 40px;
  }
  .logo {
    margin-right: 40px;
    a {
      display: block;
    }
    img {
      height: 42px;
    }
  }
}